:root {
    --main: #1b1b1b;
    --secondary: #ffdda3;
    --accent: #c0362c;
}

body {
    background-color: var(--main);
    margin: 0;
}

nav {
    background-color: var(--secondary);
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    background-color: var(--secondary);
    filter: brightness(0.85);
    transition: color 1s;
}